@import 'styles/variables';

.body {
    margin-top: 20px;

    .vouchers {
        background-color: #fff;

        ul {
            margin-bottom: 20px;
        }

        li {
            padding: 0 15px;
        }

        .voucher_tag {
            width: 100%;
            display: flex;
            color: $common-red;
            border: 1px solid rgba($common-red, 0.15);
            background-color: rgba($common-red, 0.05);
        }

        .voucher_info {
            flex-grow: 1;
            display: flex;
            padding: 0 10px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            > span {
                margin: 2px 0;
                line-height: 100%;
                width: fit-content;
                font-size: 0.875rem;

                &:first-of-type {
                    font-size: 1rem;
                }

                &:last-of-type {
                    padding: 2px 4px;
                    font-size: 0.75rem;
                    border: 1px solid $common-red;
                }
            }

            div:last-child {
                font-size: 0.6rem;
                color: rgba(#000, 0.5);
            }
        }

        .total {
            width: 100%;
            margin: 4px 0;
            height: 0.25rem;
            border-radius: 0.25rem;
            background: rgba(0, 0, 0, 0.09);

            .process {
                width: 64%;
                height: 100%;
                background: linear-gradient(270deg, rgb(255, 176, 0) 0%, rgb(235, 23, 23) 100%);
            }
        }

        .voucher_claim {
            padding: 10px;
            border-left: 1px dotted rgba(#000, 0.1);

            button {
                border: none;
                color: #fff;
                margin-top: 50%;
                padding: 5px 10px;
                transform: translateY(-50%);
                background-color: $common-red;
            }
        }
    }
}
