@import 'styles/variables';

.body {
    margin-top: 20px;

    .vouchers {
        background-color: #fff;

        ul {
            margin-bottom: 20px;
        }

        li {
            padding: 0 15px;
        }
    }
}

.product_list {
    margin-top: 30px;

    .product_list_header {
        background-color: #eaeaea;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;

        .product_filter {
            display: flex;
            line-height: 34px;

            > * {
                border-radius: 2px;
            }

            span {
                margin-right: 15px;
                font-size: 0.9rem;
            }

            div {
                height: 34px;
                padding: 0 15px;
                margin-right: 10px;
                background-color: #fff;
            }

            select {
                border: none;
                padding: 0 8px;
            }
        }

        .product_pagination {
            display: flex;
            align-items: center;

            div {
                margin-left: 20px;
            }

            button {
                border: 0.5px solid #eaeaea;
                background-color: #fff;
                width: 36px;
                height: 36px;

                &:active {
                    background-color: #f8f8f8;
                }
            }
        }
    }
}

.sidebar {
    .sidebar_header {
        font-weight: 600;
        font-size: 1rem;
        line-height: 100%;

        span {
            margin-left: 10px;
        }
    }

    .sidebar_container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: hidden;

        span {
            padding: 8px 10px;
            font-size: 0.875rem;
            line-height: 100%;
            cursor: pointer;
        }

        svg {
            font-size: 0.5rem;
            margin-right: 6px;
            margin-bottom: 2px;
        }

        .sidebar--active {
            color: $common-red;
        }
    }
}
