@import '../../styles/variables';

.wrapper {
    width: 102px;
    height: 30px;
    display: flex;
    margin-left: 2px;
    padding-bottom: 2px;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    .counter_slide {
        color: $common-text-color;
        display: flex;
        margin-top: 1px;
        font-size: 0.87rem;
        flex-direction: column;
        transform: translateY(0);
        transition: transform 500ms linear;

        div {
            height: 1rem;
            line-height: 1rem;
        }
    }

    .counter_10 {
        margin-right: 1px;
        height: calc(7 * 16px);
    }

    .counter_1 {
        height: calc(11 * 16px);
    }
}

.counter_hour,
.counter_minute,
.counter_second {
    width: 22px;
    height: 17px;
    display: flex;
    padding: 0 3px;
    overflow: hidden;
    margin-left: 6px;
    border-radius: 3px;
    background-color: #000;
}
