@import 'styles/variables';

.receipt {
    margin-bottom: 12px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);

    .receipt_body {
        padding: 12px 25px;
        background-color: $common-text-color;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .receipt_header {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
    }
}

.shop_info {
    display: flex;
    align-items: center;
    font-size: 0.75rem;

    > * {
        margin-right: 8px;
    }

    button {
        border: none;
        background-color: $colorsub2;
        padding: 6px;
        height: fit-content;
        color: $common-text-color;
        line-height: 100%;
    }

    a {
        color: #555;
        padding: 6px;
        line-height: 100%;
        text-decoration: none;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
    }

    svg {
        font-size: 0.7rem;
        margin-right: 4px;
    }
}

.shop_type {
    padding: 2px 4px;
    background-color: $colorsub2;
    color: $common-text-color;
    height: fit-content;
    line-height: 100%;
}

.shop_name {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 0.875rem;
}

.status {
    display: flex;
    align-items: center;
    font-size: 0.875rem;

    .delivery_stat {
        color: #26aa99;

        span {
            margin-right: 4px;
        }
    }

    svg {
        margin: 0 6px;

        &:last-child {
            color: #555;
        }
    }

    > span {
        color: $colorsub2;
        font-size: 1rem;
        text-transform: uppercase;
        padding-left: 12px;
        border-left: 1px solid $common-border-color;
    }
}

.receipt_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-top: 1px dotted $common-border-color;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #fffefb;

    .order_total {
        padding: 25px;
        color: $colorsub2;

        svg {
            width: 1rem;
            height: 1rem;
            margin-right: 6px;
        }

        span:first-of-type {
            color: #555;
            font-size: 0.875rem;
            margin-right: 12px;
        }

        span:last-of-type {
            font-size: 1.5rem;
        }
    }

    .subinfo {
        display: flex;
        width: 100%;
        padding: 0 25px 25px;
        justify-content: space-between;

        span {
            color: rgba(0, 0, 0, 0.54);
        }

        button {
            padding: 10px 20px;
            border: 1px solid $common-border-color;
            color: #333;
            background-color: $common-text-color;
            line-height: 100%;
            margin-left: 12px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.02);
            }

            &:first-of-type {
                color: $common-text-color;
                background-color: $colorsub2;

                &:hover {
                    background-color: #d73211;
                }
            }
        }
    }
}
