@import 'styles/variables';

.thumbnail_wrapper {
    position: relative;
    width: calc(100% + 10px);

    height: 92px;
    margin-top: 5px;
    margin-bottom: 24px;
    overflow: hidden;

    button {
        position: absolute;
        top: 50%;
        padding: 0;
        width: 24px;
        height: 24px;
        border: none;
        color: $common-text-color;
        transform: translateY(-50%);
        background-color: transparent;

        &:first-of-type {
            left: 0;
        }

        &:last-of-type {
            right: 0;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.thumbnail_container {
    position: absolute;
    left: 0;
    width: calc(100% + 10px);
    max-width: unset;
    display: flex;
    height: 100%;
    flex-wrap: nowrap;

    li {
        padding: 5px;

        > div {
            width: 100%;
            height: 100%;
            cursor: pointer;
            border: 2px solid $colorsub2;
        }
    }

    .overlay {
        width: 100%;
        height: 100%;
    }
}
