@import 'styles/variables';

.wrapper {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.banner_right {
    display: flex;
    padding-left: 5px;
    flex-direction: column;

    a {
        width: 100%;
        height: 100%;

        &:last-child {
            margin-top: 5px;
        }
    }

    .banner_image {
        width: 100%;
        height: 100%;
    }
}
