@import 'styles/variables';

.wrapper {
    width: 100%;
}

.container {
    display: flex;
    margin-top: 10px;
    min-height: 108px;
    background-color: #fff;
    justify-content: space-around;

    a {
        width: 100px;
        color: inherit;
        text-decoration: none;

        &:hover {
            transform: translateY(-0.0625rem);
        }

        div:first-child {
            width: 45px;
            height: 45px;
            margin: 18px auto 8px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        div {
            overflow: hidden;
            max-width: 100px;
            margin: 0 auto 8px;
            text-align: center;
            font-size: 0.8125rem;
            line-height: 0.875rem;
            word-wrap: break-word;
        }
    }
}
