/*
 * General styles
 */
body {
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $fontmain;
    font-size: $base-size - 3px;
    height: 100vh;
}

.grid {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

%popover_makeup {
    position: absolute;
    top: 99%;
    right: 0;
    z-index: 9;
    // opacity: 0;
    // transform: scale(0);
    transition: all 0.15s linear;
    transform-origin: top right;
}

%popover_wrapper_makeup {
    position: relative;
    top: 9px;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    background-color: $common-text-color;
    color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 32px rgba(3, 3, 3, 0.2);
}

.wrapper {
    width: 100%;
    padding-bottom: 70px;
    background: url('https://cf.shopee.vn/file/7de91e2132c3644f6bf53406678212c9') center top / 100%
        no-repeat;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.row {
    --bs-gutter-x: 10px;
}

.col-20pc {
    flex: 0 0 auto;
    width: 20%;
}

.content-container {
    margin-top: $header-max-height;
    padding-bottom: 50px;

    .title {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $base-size + 4px;
        margin-top: 15px;
        color: $colormain;
    }

    .content {
        margin: 15px 30px;
        box-shadow: 2px 2px 4px 0 $box-shadow-color;
        -webkit-box-shadow: 2px 2px 4px 0 $box-shadow-color;
    }
}

.system-container {
    margin-top: -$header-height + 6px;
}

.user-container {
    padding-top: 20px;
    margin-top: -$header-max-height;
}

.shop-container {
    margin-top: -$header-max-height;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal {
    .modal-dialog {
        .modal-content {
            .modal-header {
                padding: 0 10px;
                height: 35px;
                background-color: $colormain;
                color: $common-text-color;

                .modal-title {
                    line-height: 35px;
                    font-weight: 500;
                    font-size: $base-size + 1px;
                }

                .btn-close {
                    position: absolute;
                    color: $common-text-color;

                    i {
                        line-height: 35px;
                        font-size: $base-size + 2px;
                    }
                }
            }
        }
    }
}
