@import 'styles/variables';

.wrapper {
    display: flex;
    flex-direction: column;

    .header {
        font-size: 1rem;
        font-weight: 700;
        padding: 6px 0;
        text-transform: uppercase;

        svg {
            width: 10px;
            height: 10px;
            margin-right: 10px;
            margin-bottom: 4px;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
    }
}

.category {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    font-size: 0.875rem;
    color: rgba(#000, 0.8);
    border-bottom: 1px solid $common-border-color;

    > span {
        padding-bottom: 10px;
    }

    .options {
        display: flex;
        flex-direction: column;

        label {
            margin: 10px 0;
            cursor: pointer;
        }

        span {
            margin-left: 6px;
        }
    }
}

.dropdown {
    padding: 8px 20px;
    display: none;
    cursor: pointer;

    svg {
        width: 10px;
        height: 10px;
        color: #888;
        margin-left: 10px;
        margin-bottom: 2px;
    }
}
