@import 'styles/variables';

.selections {
    margin-bottom: 10px;
    display: flex;

    .selection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }
}
