@import 'styles/variables';

.wrapper {
    color: #888;
    font-size: 0.875rem;

    > * {
        display: flex;
        padding: 0 20px;
        overflow: hidden;
        border-radius: 3px;
        margin-bottom: 12px;
        background-color: $common-white;
        box-shadow: 0 1px 1px 0 rgba(#000, 0.05);
    }
}

.notification {
    display: flex;
    border-radius: 2px;
    align-items: center;
    padding: 0.75rem 1rem;
    background-color: #fffefb;
    justify-content: flex-start;
    border: 1px solid rgba(224, 168, 0, 0.4);

    span {
        color: #222;
        margin-left: 6px;
        line-height: 1rem;
    }

    img {
        height: 14px;
    }
}

.body_header {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .select_all {
        color: #333;
        display: flex;

        > *:first-child {
            margin: 0 20px;
        }
    }
}

.attributes > * {
    padding: 0 2rem;
}
