@import 'styles/variables';

.custom_checkbox {
    width: 1.125rem;
    height: 1.125rem;
    position: relative;
    display: flex;

    .check_box {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 2px;
        border: 1px solid $border;
        background-color: $common-white;

        &:after {
            position: absolute;
            left: 50%;
            top: 50%;
            content: '';
            width: 30%;
            height: 70%;
            display: none;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg) translate(-135%, -25%);
        }
    }

    input:checked ~ .check_box {
        border-color: $colorsub2;
        background-color: $colorsub2;

        &::after {
            display: block;
        }
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }
}
