@import 'styles/variables';

.custom_button {
    width: 100%;
    border: none;
    color: #fff;
    padding: 4px 0;
    font-weight: 400;
    font-size: 0.875rem;
    text-transform: uppercase;
    background-color: $colorsub2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);

    &:hover {
        background-color: #f05d40;
    }
}
