@import 'styles/variables';

.header_search_logo {
    padding: 0 47px 0 7px;
    height: 59px;
    margin-top: -6px;
    cursor: pointer;

    svg {
        width: 148px;
        fill: $common-text-color;
    }
}
