@import '../../../styles/_variables.scss';
@import '../../../styles/_base.scss';

.header_navbar_supports {
    display: flex;
    align-items: center;

    > ul {
        display: flex;
        height: 34px;
        align-items: center;

        li {
            cursor: pointer;

            > div {
                padding: 0 8px;
            }

            > div:first-child {
                display: flex;
                height: fit-content;
                align-items: center;

                .navbar_supports_bell {
                    height: 18px;
                    width: 14px;
                    fill: #fff;
                }

                .navbar_supports_globe {
                    height: 16px;
                    width: 16px;
                }

                .navbar_supports_chevron {
                    height: 12px;
                    width: 12px;
                    fill: #fff;
                }
            }
        }

        .navbar_supports_help {
            height: 18px;
            width: 18px;
            fill: #fff;
        }

        svg {
            font-size: 1.125rem;
            margin-right: 5px;

            &:last-child {
                margin: 9px 0 9px 5px;
            }
        }
    }
    .user_options {
        position: relative;
        color: rgba(0, 0, 0, 0.9);

        > div:first-child {
            color: #fff;
            max-width: 150px;

            div {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-right: 5px;
            }

            span {
                max-width: 109px;
                word-break: break-all;
                height: 20px;
                overflow: hidden;
            }
        }

        .user_popover {
            position: absolute;
            top: 90%;
            right: 0;
            height: 50px;
            padding: 0;

            div {
                right: 18%;
            }
        }

        ul {
            position: relative;
            top: 9px;
            box-shadow: 0 0 32px $box-shadow-color;
            height: 120px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            width: 150px;

            li {
                flex-grow: 1;
                justify-self: center;
                line-height: 40px;
                font-size: 0.85rem;
                padding: 0 15px;
                width: 100%;
            }
        }
    }

    .login_options {
        span {
            position: relative;
            padding: 0 12px;

            &:last-child::after {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-55%);
                content: '';
                height: 12px;
                border: 0.5px solid rgba(255, 255, 255, 0.5);
            }
        }
    }
}

.navbar_supports_notification {
    position: relative;

    .notification_popover {
        @extend %popover_makeup;
        width: fit-content;

        .notification_popover_wrapper {
            @extend %popover_wrapper_makeup;
            height: 350px;
            width: 400px;
            cursor: pointer;

            .popover_content_wrapper {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                width: 100%;
                display: flex;
                align-self: center;
                flex-direction: column;

                img {
                    width: 100px;
                    height: 100px;
                    align-self: center;
                }

                span {
                    margin-top: 20px;
                    font-size: 0.875rem;
                    text-align: center;
                }
            }

            .notification_popover_sign {
                width: 100%;
                height: 40px;
                display: flex;
                background-color: rgba(9, 9, 9, 0.05);

                div {
                    width: 50%;
                    height: 100%;
                    line-height: 40px;
                    text-align: center;
                    font-size: 0.875rem;

                    &:hover {
                        color: #fb5533;
                        background-color: #ddd;
                    }
                }
            }
        }
    }

    .loggedIn_notification_popover {
        .notification_popover_wrapper {
            height: min-content;
            min-height: 350px;
        }

        .notification_popover_title {
            font-size: 0.9rem;
            color: rgba(0, 0, 0, 0.4);
            height: 40px;
            line-height: 40px;
            padding: 0 10px;
        }

        .popover_content_container {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            flex-grow: 1;
        }

        .notification_content_wrapper {
            display: flex;
            padding: 8px 10px;

            &:hover {
                background-color: #eee;
            }

            div:last-child {
                max-width: 335px;
            }
        }

        .notification_popover_thumbnail {
            width: 40px;
            height: 40px;
            background-position: center;
            background-size: contain;
            margin-right: 5px;
        }

        .notification_content_title {
            font-size: 0.85rem;
            margin-bottom: 5px;
            line-height: 1rem;
        }

        .notification_content_content {
            color: rgba(0, 0, 0, 0.6);
            line-height: 15px;
        }

        .notification_popover_seemore {
            align-self: center;
            border: none;
            background-color: rgba(9, 9, 9, 0.03);
            width: 100%;
            height: 40px;

            &:hover {
                background-color: #eee;
                color: #f53d2d;
            }
        }
    }
}

.navbar_supports_languages {
    position: relative;
    cursor: pointer;
    padding: 0 !important;

    .navbar_language_selected {
        padding: 0 10px;
    }

    .supports_languages_popver {
        @extend %popover_makeup;

        div:first-child {
            right: 20%;
        }

        .languages_popover_wrapper {
            @extend %popover_wrapper_makeup;
            width: 200px;
            height: 80px;
            cursor: pointer;

            .popover_language {
                width: 100%;
                flex-grow: 1;
                line-height: 40px;
                font-size: 0.875rem;
                padding-left: 10px;
                color: rgba(0, 0, 0, 0.9);

                &:hover {
                    color: #f63;
                }
            }
        }
    }
}

.hover_eff--blur:hover {
    color: rgb(0, 184, 144);
    background-color: #eee;
}
