.input_group {
    display: flex;
    margin: 10px 0 20px;
    align-items: center;

    input {
        font-size: 0.75rem;
        width: 5rem;
        text-transform: uppercase;
        padding: 6px 4px;
        border: 1px solid #aaa;

        &:focus-visible {
            outline: none;
        }
    }
}

.spliter {
    padding-top: 1px;
    width: 10px;
    margin: 0 8px;
    background-color: #bbb;
}
