@import 'styles/variables';

.login_body {
    width: 100%;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    background-color: $colorsub3;
    margin-top: -$header-max-height;

    .login_body_wrapper {
        margin: auto;
        width: 100%;
        max-width: 1200px;
        height: 600px;
        position: relative;
    }

    .login_form {
        background-color: #fff;
        height: 430px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 400px;
        border-radius: 4px;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    .login_form_title {
        font-size: 1.5rem;
        font-weight: 700;
        height: 80px;
        line-height: 40px;
        padding: 20px 0;
    }

    .login_form_forgot {
        text-decoration: none;
        width: 35%;
        font-size: 0.85rem;
    }
}
