$mainColor: rgb(238, 77, 45);

.wrapper {
    width: 100%;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
}

.header {
    z-index: 9;
    height: 80px;
    display: flex;
    padding: 0 60px;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;

    .header_logo {
        width: 120px;
        display: flex;
        padding-right: 20px;

        a {
            width: 100%;
            height: 100%;
            fill: $mainColor;
            color: $mainColor;
        }
    }

    .header_title {
        flex-grow: 1;
        font-size: 2rem;
    }

    .header_help {
        font-size: 1rem;
        color: $mainColor;
        text-decoration: none;
    }
}

.form-row {
    width: 100%;
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
}

.form-group {
    .form-control {
        width: 98%;
        margin: auto;
    }

    &:first-child .form-control {
        margin-left: 0;
    }

    &:last-child .form-control {
        margin-right: 0;
    }

    &:only-child .form-control {
        width: 100%;
    }
}

.body {
    width: 100%;
    background-color: $mainColor;

    .body_wrapper {
        width: 100%;
        margin: auto;
        height: 600px;
        max-width: 1200px;
        position: relative;
    }

    .body_form {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 520px;
        margin: auto;
        height: 580px;
        display: flex;
        padding: 0 25px;
        border-radius: 4px;
        flex-direction: column;
        background-color: #fff;
    }

    .form_title {
        height: 50px;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 20px;
        padding-top: 20px;
    }

    .hideShowIcon {
        position: absolute;
        top: 22px;
        right: 7px;
        width: 32px;
        height: 31px;
        padding: 8px;
        cursor: pointer;
        border-radius: 4px;
        background-color: #fff;
    }

    .error_message {
        width: 100%;
        height: 1rem;
        color: red;
        padding: 0 8px;
        margin-top: 2px;
        overflow: hidden;
        font-size: 0.75rem;
        line-break: anywhere;
    }

    .form_button {
        border: none;
        padding: 8px;
        color: #fff;
        opacity: 0.65;
        border-radius: 2px;
        pointer-events: none;
        background-color: #ee4d2d;

        &:hover {
            background-color: #f05d40;
        }
    }

    .form_otherOptions {
        display: flex;
        justify-content: space-around;

        a {
            margin: 5px;
            width: 163px;
            height: 40px;
            display: flex;
            padding: 0 8px;
            color: inherit;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.1);

            &:hover {
                background-color: rgba(0, 0, 0, 0.02);
            }
        }

        %logo_image {
            width: 22px;
            height: 22px;
            margin-right: 10px;
            background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/7b95007f3377150730bbb5d1ddb477d6.png');
        }

        .icon_facebook {
            @extend %logo_image;
            background-size: 325% 287.5%;
            background-position: 5.55556% 62.666667%;
        }

        .icon_google {
            @extend %logo_image;
            background-size: 722.22222% 638.88889%;
            background-position: 83.92857% 5.15464%;
        }
    }

    .form_abide {
        margin-top: 8px;
        text-align: center;
        font-size: 0.8rem;

        a {
            color: $mainColor;
            text-decoration: none;
        }
    }
}

.mandatory-field {
    height: 20px;
    color: red;
    margin-left: 2px;
    line-height: 20px;
    font-size: 1.2rem;
}

.split {
    position: relative;
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.4);

    &::after {
        position: absolute;
        left: 0;
        top: 50%;
        right: 0;
        content: '';
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    span {
        z-index: 1;
        margin: auto;
        padding: 0 8px;
        position: relative;
        font-size: 0.8rem;
        background-color: #fff;
        text-transform: uppercase;
    }
}

.redirect_login {
    display: flex;
    margin: 12px 0;
    font-size: 0.8rem;
    text-decoration: none;
    justify-content: center;
    color: rgba(0, 0, 0, 0.4);

    span:last-child {
        color: $mainColor;
        text-decoration: none;
        cursor: pointer;
    }
}

.success_alert {
    position: absolute;
    top: 23px;
    left: 95px;
    width: 550px;
    height: 320px;
    display: none;
    align-items: center;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;

    img {
        width: 220px;
    }

    div {
        font-size: 2rem;
        color: #12d76e;
    }
}

.footer {
    height: 100px;
}
