@import 'styles/variables';

.body {
    width: 100%;
    box-sizing: border-box;
    background-color: $colorsub3;
    color: rgba(0, 0, 0, 0.87);
    margin-top: -$header-min-height;

    .body_wrapper {
        width: 100%;
        margin: auto;
        height: 600px;
        max-width: 1200px;
        position: relative;
    }

    .body_form {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 520px;
        margin: auto;
        height: 580px;
        display: flex;
        padding: 0 25px;
        border-radius: 4px;
        flex-direction: column;
        background-color: #fff;
    }

    .form_title {
        height: 50px;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 20px;
        padding-top: 20px;
    }

    .form_otherOptions {
        display: flex;
        justify-content: space-around;

        a {
            margin: 5px;
            width: 163px;
            height: 40px;
            display: flex;
            padding: 0 8px;
            color: inherit;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.1);

            &:hover {
                background-color: rgba(0, 0, 0, 0.02);
            }
        }

        %logo_image {
            width: 22px;
            height: 22px;
            margin-right: 10px;
            background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/7b95007f3377150730bbb5d1ddb477d6.png');
        }

        .icon_facebook {
            @extend %logo_image;
            background-size: 325% 287.5%;
            background-position: 5.55556% 62.666667%;
        }

        .icon_google {
            @extend %logo_image;
            background-size: 722.22222% 638.88889%;
            background-position: 83.92857% 5.15464%;
        }
    }

    .form_abide {
        margin-top: 8px;
        text-align: center;
        font-size: 0.8rem;

        a {
            color: $colorsub3;
            text-decoration: none;
        }
    }
}

.split {
    position: relative;
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.4);

    &::after {
        position: absolute;
        left: 0;
        top: 50%;
        right: 0;
        content: '';
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    span {
        z-index: 1;
        margin: auto;
        padding: 0 8px;
        position: relative;
        font-size: 0.8rem;
        background-color: #fff;
        text-transform: uppercase;
    }
}

.redirect_login {
    display: flex;
    margin: 12px 0;
    font-size: 0.8rem;
    text-decoration: none;
    justify-content: center;
    color: rgba(0, 0, 0, 0.4);

    span:last-child {
        color: $colorsub3;
        text-decoration: none;
        cursor: pointer;
    }
}
