@import 'styles/variables';

.product_list {
    color: $colorsub3;
    background-color: transparent;

    ul {
        margin: 0;
    }
}

.header {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            font-size: 1rem;
            text-transform: uppercase;
            margin: auto;
            line-height: 100%;
            width: 100%;
        }
    }
}

.highlight {
    position: absolute;
    bottom: 0;
    left: 0;
}

.seemore_btn a {
    margin: 26px auto 0;
    width: 390px;
    height: 40px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(#000, 0.09);
    color: #555;
    font-size: 0.875rem;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    line-height: 40px;

    &:hover {
        background-color: rgba(#000, 0.02);
    }

    &:active {
        box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.05);
    }
}
