@import 'styles/variables';

.header {
    height: $header-title;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-weight: 500;
    position: relative;
    background-color: $common-text-color;
    border-bottom: 1px solid rgba(#000, 0.05);
}

.title {
    font-size: calc(1rem + 1px);
    max-height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    > span {
        text-transform: uppercase;

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    .logo {
        height: 30px;
        width: 130px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.seemore {
    padding: 5px 7px;
    width: fit-content;
    font-size: 0.875rem;
    line-height: 0.875rem;
    text-decoration: none;

    svg {
        margin-left: 4px;
        width: 0.65rem;
        margin-bottom: 2px;
        fill: currentColor;
    }
}
