@import '../../styles/variables';

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex;
    color: $common-text-color;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    background: linear-gradient(-180deg, $colorsub2, $colorsub1);

    a {
        text-decoration: none;
        color: #fff;

        &:hover {
            color: inherit;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.hover_eff--blur:hover {
    cursor: pointer;
    opacity: 0.7;
}

.popover_anchor {
    position: absolute;
    right: 7%;
    z-index: $zindex;
    border-bottom: 10px solid #fff;
    border-top: 0px solid transparent;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
}
