@import 'styles/variables';

.header {
    z-index: 9;
    display: flex;
    padding: 0 75px;
    align-items: center;
    height: $header-height;
    background-color: $common-text-color;
    justify-content: space-between;

    a:first-child {
        padding-right: 10px;

        svg {
            fill: $colorsub3;
            margin-top: 6px;
            height: 42px;
        }
    }
    .header_title {
        flex-grow: 1;
        font-size: 1.5rem;
        color: #222;
    }

    .header_help {
        font-size: 0.875rem;
        color: $colormain;
        text-decoration: none;
    }
}
