@import 'styles/variables';
@import 'styles/base';

.header_search {
    display: flex;
    align-items: center;
    padding: 16px 0 10px;
    height: $header-height;

    a {
        text-decoration: none;
    }

    .header_search_container {
        width: 840px;
        height: 100%;

        .search_container_searchBox {
            z-index: 10;
            padding: 3px;
            height: 40px;
            display: flex;
            position: relative;
            background-color: $common-text-color;

            form {
                height: 100%;
                position: relative;
                flex-grow: 1;
                padding: 0 10px;
            }

            .search_container_outline::before {
                content: '';
                position: absolute;
                top: -7px;
                right: 4px;
                bottom: -7px;
                left: -7px;
                outline: #000 solid 2px;
                border-radius: 2px;
            }

            input {
                height: 100%;
                width: 100%;
                border: none;
                font-size: 0.875rem;
                outline: none;
            }

            button {
                height: 34px;
                width: 60px;
                border: none;
                border-radius: 2px;
                background-color: $colormain;
                color: $common-text-color;
                cursor: pointer;

                &:hover {
                    background-color: #fb6445;
                }

                &:active {
                    background: #ee5130;
                    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.05);
                }
            }
        }

        .search_container_options {
            height: 29px;
            display: flex;
            align-items: center;

            a {
                line-height: 100%;
                font-size: 0.75rem;
                color: rgba($common-text-color, 0.9);

                &:not(&:first-child) {
                    margin-left: 13px;
                }
            }
        }
    }

    .header_search_cart {
        margin: 0 auto;
        display: flex;
        height: 100%;
        align-items: center;

        a {
            height: 46px;
            width: 41px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        svg {
            fill: $common-text-color;
            width: 26px;
            height: 26px;
            stroke: $common-text-color;
            margin: 0 6px 6px 0;
        }
    }
}

.search_container_recentSearches {
    z-index: 10;
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    width: 757px;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
    display: none;

    a {
        color: rgba(0, 0, 0, 0.87);
        font-size: 0.875rem;
        padding: 10px 15px 10px 10px;
        width: 100%;

        &:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &:hover {
            background-color: #fafafa;
        }
    }
}

.search_cart_wrapper {
    position: relative;

    .search_cart_popover {
        @extend %popover_makeup;
        top: 83%;

        .popover_anchor {
            right: 2%;
        }

        .cart_popover_wrapper {
            @extend %popover_wrapper_makeup;
            width: 400px;
            height: 260px;
            justify-content: center;
            align-items: center;

            .cart_popover_content {
                display: flex;
                flex-direction: column;
                width: fit-content;

                img {
                    width: 100px;
                    height: 100px;
                }

                span {
                    font-size: 0.875rem;
                    margin-top: 30px;
                    color: rgba(0, 0, 0, 0.9);
                }
            }
        }
    }
}
