@import 'styles/variables';

.system_header {
    display: flex;
    justify-content: space-between;
    color: #333;
    background-color: #37e1ff;

    .change_language {
        display: flex;
        align-items: center;
    }

    span {
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        padding: 4px 10px;

        &:first-child::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 12px;
            border-right: 1px solid $common-border-color;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        margin-right: 35px;
    }

    .home {
        color: $common-text-color;
        padding: 6px 10px;
        margin-left: 6px;
    }
}
