@import 'styles/variables';

.wrapper {
    padding: 25px;
    font-size: 0.875rem;
    color: #333;
}

.header {
    width: 100%;
    padding: 14px;
    font-size: 1.125rem;
    line-height: 1.2rem;
    margin-bottom: 30px;
    text-transform: capitalize;
    background-color: rgba(#000, 0.03);
}

.body {
    padding: 0 15px;

    > div {
        display: flex;
        margin-bottom: 15px;
        line-height: 1.1rem;

        &:last-child {
            margin-bottom: 35px;
        }
    }
}

.name {
    width: 8.75rem;
    color: $border;
    overflow: hidden;
    padding-right: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
}
