@import 'styles/variables';

.wrapper {
    background-color: $common-text-color;
    display: flex;
    width: 100%;
}

.images {
    padding: 15px;
    display: flex;
    flex-direction: column;

    .review_img {
        width: 450px;
        height: 450px;
        cursor: pointer;
    }
}

.overlay {
    width: 100%;
    height: 100%;
}

.interactions {
    display: flex;
    align-items: center;

    > div {
        font-size: 1rem;
    }

    .share {
        padding: 0 30px;
        display: flex;
        flex-wrap: nowrap;

        .app_icon {
            width: 25px;
            height: 25px;
            cursor: pointer;
            margin-left: 5px;
            background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/1876c121524255f7eb6a64b4d8d0b7e3.png');
            background-size: cover;
        }

        .fm_icon {
            background-position: 0 -100%;
        }

        .fb_icon {
            background-position: 0 0;
        }

        .pinter_icon {
            background-position: 0 -300%;
        }

        .twit_icon {
            background-position: 0 -400%;
        }
    }

    .liked {
        flex-grow: 1;
        border-left: 1px solid $common-border-color;

        input {
            display: none;

            & ~ svg:first-of-type {
                display: none;
            }

            &:checked ~ svg:first-of-type {
                position: absolute;
                left: 15px;
                display: block;
            }
        }

        label {
            margin: auto;
            display: flex;
            padding: 0 15px;
            cursor: pointer;
            line-height: 100%;
            width: fit-content;
            position: relative;
            align-items: center;
        }

        svg {
            width: 25px;
            height: 22px;
            color: $colormain;
            margin-right: 10px;
        }
    }
}
